body {
    font-family: Schoolbell;
    background-image: url("background2light.jpg");
}
img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.title{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 180px;
}
.left, .right{
    width: 30%;
    font-size: 25px;
    margin: auto;
    color: orangered;
}
.right>h1{
    margin: auto;

}
.center>h1{
    margin-bottom: 10px;
    margin-top:-10px;
    
}
.center{
    width: 30%;
    font-size: 40px;
    margin: auto;
    color: navy;
}
.toolbar{
    display: flex;
    margin: auto;
    justify-content: center;
}
#addStudentInput{
    width: 250px;
}
.listLabel{
    display: flex;
    justify-content: left;
    margin: auto;
    width: 820px;
    height: 20px;
    margin-top: 10px;
    
}
#PT{
    width: 60px;
    color: navy;
    margin: 2px;
    padding-left: 30px;
    font-weight: bold;
}

#studentList{
    width: 800px;
    margin: auto;
    
    margin-top: 10px;
}
ol{
    color: orangered;
    display: block;
    justify-content: center;
   
    
}
li{
    background-color: #eeeeee;
    
    margin-right: 0px;
    width: 720px;
    padding-left: 0px;
}
li>p{
    width: 300px;
    margin: 0px;
    margin-left: 15px;
    display: inline-block;
    color: navy;
}
.present{
    margin: 3px 5px 3px 6px;
}
.tarde 
{
    margin: 3px 6px 3px 7px;
}
.addEditCommentsInput {
    width: 300px;
    border: 1px solid  #aaaaaa;
    
    font-size: 15px;
    color: navy;
    background-color: #eeeeee;
    }